extends layout

block content
  .container.bg-white.mt-1.rounded-4
    .row-fluid.justify-content-center.align-items-center
      .col-md-8.offset-sm-2
        .row.align-items-center.pt-5
          .col-md-5
            img.img-fluid.border.border-dark-subtle.border-5.rounded-circle(src="images/photo.jpeg", alt="tidak ada foto", style="min-width: 20%;")
          .col-md-7.pt-3
            h1.text-uppercase.fw-bold.pb-1.fs-1 Kevin Sanjaya
            p.text-uppercase.fw-bold.fs-4 UI/UX Designer
            p.fw-semibold.fs-5.text-secondary Hi Guys, Saya Kevin Sanjaya, yang pasti saya bukan pemain badminton ya, Saya lulusan SMA Xaverius 4 Palembang, saat ini saya sedang menempuh studi sistem informasi di Universitas Multi Data Palembang
          p.text-center.pb-3.pt-3.fw-semibold.fs-6.border-bottom.border-5 Alamat: Anyar Residence KM 7, Kota Palembang | Email: kevin20sanjaya@gmail.com
        .row.pb-3.border-bottom.border-4
          .col-md-4
            h2.text-uppercase.fs-4.fw-bold Pengalaman
            ul
              li.fw-bold.fs-4(style="padding-top: .5rem; padding-bottom: 4.5em;") Mei 2022
              li.fw-bold.fs-4(style="padding-bottom: 5.5em;") Nov-Des 2022
              li.fw-bold.fs-4(style="padding-bottom: 6em;") Mar-Apr 2023
          .col-md-8
            h2.fs-4.text-white Keterangan
            ul
              li.fs-4.border-0.fw-bold FreezeKun
                p.fs-5.fw-semibold UI/UX Designer
                p.fs-6.fw-normal Membuat Design Tampilan Aplikasi FreezeKun
              li.fs-4.border-0.fw-bold Growpreneur by BRI
                p.fs-5.fw-semibold UI/UX Designer Head Team
                p.fs-6.fw-normal Membuat Design Tampilan Aplikasi Growpreneur by BRI
              li.fs-4.border-0.fw-bold Sistem Informasi Rekrutkmen PT Ginting Jaya Energi Tbk.
                p.fs-5.fw-semibold Developer Assistant
                p.fs-6.fw-normal Membuat Aplikasi Sistem Rekrutmen untuk PT Ginting Jaya Energi Tbk.
        .row.pt-2.border-bottom.border-5.pb-3
          .col
            h2.fw-bold Pendidikan
            ul
              li.fs-5.fw-bold SMA Xaverius 4 Palembang
                p.fs-6.fw-semibold 
                  | Jurusan Ilmu Pendidikan Sosial
                  br
                  | Agustus 2017 - 2020
              li.fs-5.fw-bold Universitas Multi Data Palembang
                p.fs-6.fw-semibold 
                  | Jurusan Sistem Informasi
                  br
                  | 2020 - Sekarang
        .row.pt-2.pb-3.border-bottom.border-5
          .col-md-6
            h2.fw-bold Skills
            ul.fs-5
              li Prompt Writter
              li Figma
              li UI/UX Designer
              li UI/UX Researcher
          .col-md-6
            h2.fw-bold Bahasa
            ul.fs-5
              li Bahasa Indonesia - Native
              li Bahasa Inggris - Native
        .row.pt-4.pb-3
          .col
            h2.fw-bold.text-center.text-secondary Curriculum Vitae © By Kevin Sanjaya hehe
